data/raw/all_issues.csv
data/interim/all_issues_tagged.csv
scripts/data/raw/all_issues.csv
scripts/data/interim/all_issues_tagged.csv
data/raw/all_issue_links.csv
data/interim/assignee_mapping.csv
data/interim/assignee_cost_profile.csv
data/interim/assignee_tag_count.csv
data/interim/assignee_skill_profile.csv
scripts/data/interim/assignee_mapping.csv
scripts/data/interim/assignee_cost_profile.csv
scripts/data/interim/assignee_tag_count.csv
scripts/data/interim/assignee_skill_profile.csv
projects/MAPREDUCE/issues.csv
projects/MAPREDUCE/status_events.csv
projects/OFBIZ/issues.csv
projects/OFBIZ/status_events.csv
projects/OFBIZ/logical_topo.csv
projects/OFBIZ/logical_dag_nodes.csv
projects/ZOOKEEPER/mohs_assignment.csv
projects/ZOOKEEPER/gantt_hs.png
swecom.pdf
.venv/
